body {
  text-align: center;
}

button {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 250px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 25px;
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.grid .transparent {
  border: 0px;
}

.falling {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
